.body {
	width: 90%;
	background-color: #FFF;
	margin: 0 auto;
	clear: both;
}

.main-header {
	padding-top: 4%;
}

header h1 {
	margin-top: 0;
	font-size: 90px;
	font-family: 'Bungee Shade', cursive;
	letter-spacing: 5px;
	color: #ea8b00;
}

header p {
	margin-left: 10%;
	font-family: 'Kaushan Script', cursive;
	font-size: 1.75em;
}

.main-header nav {
	/*background-color: #5BC6E8;*/
	background-color: #ABAAAA;
	height: 40px;
	margin-top: 2%;
	margin-bottom: 3%;
}

.main-header nav ul {
	list-style: none;
	margin: 0 auto;
}

.main-header nav ul li {
	float: left;
	display: inline;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
	letter-spacing: 1px;
	font-family: 'Andada', serif;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #FFF;
	background-color: #ea8b00;
	height: 48px;
}

.image-wrapper.welcomeImage {
	position: relative;
	height: 359.5px;
	width: 359.5px;
	margin: 0 auto;
	border-radius: 100%;
	overflow: hidden;
}

#img-1.image-wrapper {
	background-image: url("../img/reel-to-reel-1.jpg");
	background-size: cover;
}

#img-2.image-wrapper {
	background-image: url("../img/reel-to-reel-2.jpg");		
	background-size: cover;
}

#img-3.image-wrapper {
	background-image: url("../img/record-player.jpg");
	background-size: cover;
}

#welcome-img-row {
	margin-bottom: 3%;
}

.welcomeContent {
	background-color: #ea8b00;
	text-align: center;
	padding: 4% 6%;
	margin-bottom: 2%;
}

.welcomeContent h1 {
	font-family: 'Josefin Sans', sans-serif;
	color: #FFF;
	font-size: 3em;
	padding-bottom: 2%;
}

.welcomeContent p {
	color: #FFF;
	font-size: 1.25em
}

.content {
	width: 100%;
	margin-bottom: 1%;
}

.middleContent,.bottomContent {
	width: 100%;
	float: left;
	margin-left: 0%;
	margin-bottom: 1%;
	padding: 2% 3% 5% 3%;
}

.middleContent h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3em;
	color: #ea8b00;
	margin-bottom: 2%;
}

.bottomContent {
	background-color: #337ab7;
	color: #FFF;
}

.bottomContent h2 {
	color: #ea8b00;
	font-size: 3.3em;
	font-family: 'Josefin Sans', sans-serif;
	margin-bottom: 5%;
}

.bottomContent p {
	margin-bottom: 5%;
}

#contact-button.btn.btn-primary {
	background-color: #ea8b00;
	width: 100%;
}

a.btn.btn-primary {
	text-align: center;
	border: none;
}

#contact-button.btn.btn-primary:hover {
	opacity: 0.8;
}

.glyphicon-earphone:hover {
	color: #ea8b00;
}

.mainFooter {
	width: 100%;
	float: left;
	height: 50px;
	background-color: #ABAAAA;
	margin-top: 2%;
	padding: 15px 20px 0px 20px;
}

.mainFooter p {
	color: #FFF;
}

@media only screen and (min-width: 150px) and (max-width: 1230px ) {

	.image-wrapper.welcomeImage {
		height: 300px;
		width: 300px;
	}
}

@media only screen and (min-width: 150px) and (max-width: 1024px ) {

	.image-wrapper.welcomeImage {
		height: 250px;
		width: 250px;
	}
}


@media only screen and (min-width: 150px) and (max-width: 853px) {

	.image-wrapper.welcomeImage {
		height: 200px;
		width: 200px;
	}

	.main-header nav {
		height: 350px;
	}

	.main-header nav ul li {
		text-align: center;
		width: 100%;
		display: block;
	}

	.navbar-default .navbar-nav>.active>a {
		width: 100%;
	}

}

@media only screen and (min-width: 150px) and (max-width: 820px) {
	
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

}

@media only screen and (min-width: 150px) and (max-width: 768px) {

	.image-wrapper.welcomeImage {
		height: 200px;
		width: 200px;
	}


}

@media only screen and (min-width: 150px) and (max-width: 767px) {

	.image-wrapper.welcomeImage {
		height: 400px;
		width: 400px;
		margin-bottom: 2%;
	}

	.main-header nav ul li a {
		padding-top: 15px;
		padding-bottom: 15px;
	}

}

@media only screen and (min-width: 150px) and (max-width: 555px) {

	.bottomContent {
		padding: 2% 5% 7% 5%;
	}

}

@media only screen and (min-width: 150px) and (max-width: 440px) {

	.image-wrapper.welcomeImage {
		height: 300px;
		width: 300px;
	}

}

@media only screen and (min-width: 150px) and (max-width: 335px) {

	.image-wrapper.welcomeImage {
		height: 250px;
		width: 250px;
	}

	.mainFooter {
	height: 70px;
	text-align: center;
	}


}
